:root {
    --main-color: #3FB366;
    --secondary-color: #3D6851;
    --lipstick-red-color: #E6003E;
    --dark-pink: #b20232;
    --neutral-gray-n0: #F2F2F3;
    --neutral-gray-n1: #EBEBEC;
    --neutral-gray-n3: #DCDDDD;
    --neutral-gray-n5: #B5B5B6;
    --bottled-banana-milk: #fff193;
    --white-color: #FFF;
}